# Development
/source/vcpp_dev/*

# !!! WARNING !!! Do not touch anything below this line!
# Edit the .gitignore in the `ac` branch instead!

# AC Client (non-Server) stuff

# Binaries
/bin_*/*
!/bin_win32/zlib1.dll

# Configs
/config/*
!/config/convert_mapconfig.sh
!/config/forbidden.cfg
!/config/maprot.cfg
!/config/motd_en.txt
!/config/nicknameblacklist.cfg
!/config/serverblacklist.cfg
!/config/servercmdline.txt
!/config/serverinfo_en.txt
!/config/serverkillmessages.cfg
!/config/serverpwd.cfg

# Packages
/packages/*
/packages/maps/**/preview/*
!/packages/maps/

# Misc
/bot/*
/demos/*
/docs/*
/mods/*
/scripts/*
/screenshots/
/assaultcube.bat
/assaultcube.sh
/assaultcube_release.bat
/install_desktop_menu.sh
/changelog.txt
/README.html

# Client source files
/source/locale/*
/source/src/bot/*
/source/src/audiomanager.cpp
/source/src/client.cpp
/source/src/clientgame.cpp
/source/src/clients2c.cpp
/source/src/command.cpp
/source/src/console.cpp
/source/src/docs.cpp
/source/src/editing.cpp
/source/src/entities.cpp
/source/src/hudgun.cpp
/source/src/i18n.cpp
/source/src/jpegenc.h
/source/src/main.cpp
/source/src/master.cpp
/source/src/md2.h
/source/src/md3.h
/source/src/menus.cpp
/source/src/modelcache.h
/source/src/oggstream.cpp
/source/src/openal.cpp
/source/src/packetqueue.cpp
/source/src/pch.cpp
/source/src/physics.cpp
/source/src/rendercubes.cpp
/source/src/rendergl.cpp
/source/src/renderhud.cpp
/source/src/rendermodel.cpp
/source/src/renderparticles.cpp
/source/src/rendertext.cpp
/source/src/rndmap.cpp
/source/src/scale.h
/source/src/scoreboard.cpp
/source/src/serverbrowser.cpp
/source/src/shadow.cpp
/source/src/sound.cpp
/source/src/soundlocation.cpp
/source/src/soundscheduler.cpp
/source/src/texture.cpp
/source/src/tristrip.h
/source/src/varray.h
/source/src/vertmodel.h
/source/src/water.cpp
/source/src/weapon.cpp
/source/src/world.cpp
/source/src/worldio.cpp
/source/src/worldlight.cpp
/source/src/worldocull.cpp
/source/src/worldrender.cpp
/source/src/zip.cpp
